#brandSection1{
    width: 100%;
    .container{
        width: 100%;        
        .gap{
            width: 100%;
            .title{
                width: 1200px;
                margin: 0 auto;
                text-align: center;
                .row1{
                    height: 60px;
                    display: flex;
                    align-items: center;
                    ul{
                        display: flex;
                        li{
                            padding: 0 0 0 10px;
                            display: flex;
                            align-items: center;
                            &:nth-child(1){
                                padding: 0 0 0 17px;
                            }
                            span{
                                display: flex;
                                align-items: center;
                                width: 12px;
                                height: 11px;
                                overflow: hidden;
                                margin: 0 3px 0 0;
                                pointer-events: none;
                                img{
                                    pointer-events: none;
                                }
                            }
                            &:nth-child(2),
                            &:nth-child(3){
                                span{
                                    img{
                                        transform: translateX(-12px);
                                    }
                                }
                            }
                        }
                    }
                }
                .row2{
                    margin: 18px 0 0 0;
                    .row2-container{
                        position: relative;
                        color: #000;
                        font-size: 38px;
                        font-weight: 700;
                        span{
                            position: absolute;
                            top: 50%;
                            right: 0;
                            transform: translateY(-50%);      
                            button{
                                cursor: pointer;
                                border: 0;
                                background: 0;
                                width: 27px;
                                height: 24px;
                                overflow: hidden;
                                margin: 0 0 0 15px;
                                &:first-child{
                                    margin: 0;
                                }
                                &.on{
                                    img{
                                        transform: translateX(-27px);
                                    }
                                }
                            }
                        }
                        .inner-box{
                            position: absolute;
                            top: 50%;
                            right: -10px;
                            transform: translateY(-50%);
                            width: 0;
                            height: 38px;
                            transition: all 0.3s;
                            border: 2px solid transparent;
                            border-radius: 19px;
                            background: #fff;
                            ul{
                                display: flex;
                                justify-content: space-around;
                                align-items: center;
                                height: 100%;
                                li{
                                    width: 9px;
                                    height: 20px;
                                    overflow: hidden;
                                    display: flex;
                                    align-items: center;
                                    a{
                                        display: flex;
                                        align-items: center;
                                    }
                                    &:nth-child(2){
                                        width: 20px;
                                        img{
                                            transform: translateX(-49px);
                                        }
                                    }
                                    &:nth-child(3){
                                        width: 11px;
                                        img{
                                            transform: translateX(-84px);
                                        }
                                    }
                                    &:nth-child(4){
                                        width: 15px;
                                        img{
                                            transform: translateX(-69px);
                                        }
                                    }
                                    &:nth-child(5){
                                        width: 22px;
                                        img{
                                            transform: translateX(-95px);
                                        }
                                    }
                                    &:nth-child(6){
                                        width: 20px;
                                        img{
                                            transform: translateX(-29px);
                                        }
                                    }
                                    &:nth-child(7){
                                        width: 28px;
                                        a{
                                            font-size: 13px;
                                            font-weight: 700;
                                            color: #000;
                                        }
                                        
                                    }
                                }
                            }
                            &.on{
                                    width: 270px;
                                    border-color: #000;
                                
                            }
                        }
                    }
                    
                }
                

            }
            .content{
                margin: 44px 0 0 0;
                width: 100%;
                height: 388px;
                position: relative;
                
                .txt-box{
                    width: 1200px;
                    margin: 0 auto;
                    padding: 80px 0 0 0;
                    color: #fff;
                    font-family: 'Noto Sans';
                    line-height: 1.5;
                    h2{
                        font-size: 34px;
                        font-weight: 700;
                    }
                    p{
                        margin: 20px 0 0 0;
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
                .logo-box{
                    width: 1200px;
                    margin: 0 auto;
                    padding: 60px 0 0 0;
                    img{
                        width: 70px;
                    }
                }
                .background{
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                }
                
            }
        }
    }
}