#service {
  width: 100%;
  padding: 0 0 150px 0;
}
#service .container {
  width: 1200px;
  margin: 0 auto;
}
#service .container .gap {
  width: 100%;
}
#service .container .gap .title {
  width: 100%;
}
#service .container .gap .title .row1 {
  height: 60px;
  display: flex;
  align-items: center;
}
#service .container .gap .title .row1 ul {
  display: flex;
}
#service .container .gap .title .row1 ul li {
  padding: 0 0 0 10px;
  display: flex;
  align-items: center;
}
#service .container .gap .title .row1 ul li:nth-child(1) {
  padding: 0;
}
#service .container .gap .title .row1 ul li span {
  display: flex;
  align-items: center;
  width: 12px;
  height: 11px;
  overflow: hidden;
  margin: 0 3px 0 0;
  pointer-events: none;
}
#service .container .gap .title .row1 ul li span img {
  pointer-events: none;
}
#service .container .gap .title .row1 ul li:nth-child(2) span img, #service .container .gap .title .row1 ul li:nth-child(3) span img {
  transform: translateX(-12px);
}
#service .container .gap .title .row1 ul li a {
  color: #999;
  font-size: 13px;
}
#service .container .gap .title .row1 ul li:nth-child(3) a {
  color: #000;
  font-weight: 500;
}
#service .container .gap .title .row2 {
  margin: 18px 0 0 0;
}
#service .container .gap .title .row2 h1 {
  font-size: 32px;
  color: #000;
  font-weight: 700;
}
#service .container .gap .content {
  display: flex;
  margin: 50px 0 0 0;
}
#service .container .gap .content .left {
  width: 220px;
}
#service .container .gap .content .left .row1 ul li {
  margin: 0 0 25px 0;
}
#service .container .gap .content .left .row1 ul li button {
  position: relative;
  font-family: "Noto Sans";
  font-size: 20px;
  color: #000;
  font-weight: 600;
  transition: all 0.3s;
  background: none;
  border: 0;
}
#service .container .gap .content .left .row1 ul li button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 0;
  background-color: #ee1c25;
  transition: all 0.3s;
}
#service .container .gap .content .left .row1 ul li button:hover, #service .container .gap .content .left .row1 ul li button.on {
  color: #ee1c25;
}
#service .container .gap .content .left .row1 ul li button:hover::before, #service .container .gap .content .left .row1 ul li button.on::before {
  width: 100%;
}
#service .container .gap .content .left .row2 {
  width: 160px;
}
#service .container .gap .content .left .row2 .info-box {
  margin: 69px 0 0 0;
  padding: 29px 0 0 0;
  border-top: 1px solid #ddd;
}
#service .container .gap .content .left .row2 .info-box h3 {
  color: #666;
  font-size: 15px;
  font-weight: 500;
}
#service .container .gap .content .left .row2 .info-box h3 span {
  margin: 0 5px 0 0;
}
#service .container .gap .content .left .row2 .info-box h4 {
  margin: 11px 0 0 0;
  color: #000;
  font-size: 16px;
}
#service .container .gap .content .left .row2 .info-box ul {
  margin: 11px 0 0 0;
  display: flex;
}
#service .container .gap .content .left .row2 .info-box ul li {
  color: #777;
  font-size: 13px;
  line-height: 1.4;
  margin: 0 10px 0 0;
}
#service .container .gap .content .left .row2 .info-box p {
  color: #999;
  font-size: 13px;
  line-height: 1.4;
}
#service .container .gap .content .right {
  width: 980px;
}
#service .container .gap .content .right .sub-title h2 {
  font-family: "Montserrat";
  color: #000;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0;
}
#service .container .gap .content .right .notice-content {
  margin: 14px 0 0 0;
  text-align: right;
  position: relative;
  height: 700px;
}
#service .container .gap .content .right .notice-content table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 0 20px 0;
}
#service .container .gap .content .right .notice-content table tr {
  text-align: center;
}
#service .container .gap .content .right .notice-content table tr th {
  border-top: 2px solid #000;
  border-bottom: 1px solid #e5e5e5;
  padding: 18px 0;
  color: #666;
}
#service .container .gap .content .right .notice-content table tr td {
  padding: 23px 10px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 15px;
}
#service .container .gap .content .right .notice-content table tr td a {
  color: #000;
}
#service .container .gap .content .right .notice-content table tr td:nth-child(1) {
  width: 75px;
}
#service .container .gap .content .right .notice-content table tr td:nth-child(2) {
  text-align: left;
  width: 663px;
}
#service .container .gap .content .right .notice-content table tr td:nth-child(3) {
  width: 121px;
}
#service .container .gap .content .right .notice-content table tr td:nth-child(4) {
  width: 121px;
}
#service .container .gap .content .right .notice-content .page-button-box {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#service .container .gap .content .right .notice-content .page-button-box a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: #999;
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
  font-family: "Montserrat";
}
#service .container .gap .content .right .notice-content .page-button-box a.on {
  background-color: #000;
  border-color: #000;
  color: #fff;
}
#service .container .gap .content .right .notice-content .page-button-box .prev-btn-box {
  width: 30px;
  height: 30px;
  margin: 0 25px 0 0;
  display: flex;
  align-items: center;
}
#service .container .gap .content .right .notice-content .page-button-box .prev-btn-box a {
  width: 5px;
  height: 8px;
  overflow: hidden;
}
#service .container .gap .content .right .notice-content .page-button-box .prev-btn-box a img {
  transform: translateX(-2px);
}
#service .container .gap .content .right .notice-content .page-button-box .next-btn-box {
  width: 30px;
  height: 30px;
  margin: 0 0 0 15px;
  display: flex;
  align-items: center;
}
#service .container .gap .content .right .notice-content .page-button-box .next-btn-box a {
  width: 5px;
  height: 8px;
  overflow: hidden;
}
#service .container .gap .content .right .notice-content .page-button-box .next-btn-box a img {
  transform: translateX(3px);
}
#service .container .gap .content .right .notice-content button {
  margin: -70px 0 0 0;
  width: 150px;
  height: 60px;
  background: #555;
  color: #fff;
  transition: all 0.3s;
  border: 0;
  font-size: 16px;
  font-weight: 700;
}
#service .container .gap .content .right .notice-content button:hover {
  background: #000;
}
#service .container .gap .content .right .write-content form ul {
  padding: 30px 20px;
  margin: 16px 0 50px 0;
  border-top: 2px solid #000;
  border-bottom: 1px solid #b5b5b5;
}
#service .container .gap .content .right .write-content form ul li {
  margin: 0 0 11px 0;
  position: relative;
}
#service .container .gap .content .right .write-content form ul li label {
  color: #333;
  font-size: 15px;
  font-weight: 700;
  display: flex;
}
#service .container .gap .content .right .write-content form ul li label span {
  display: flex;
  align-items: center;
  width: 130px;
  height: 40px;
}
#service .container .gap .content .right .write-content form ul li label input[type=text] {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 810px;
  height: 40px;
  margin: 0 0 0 130px;
  padding: 0 11px;
  border: 1px solid #d5d5d5;
}
#service .container .gap .content .right .write-content form ul li label textarea {
  position: absolute;
  left: 0;
  top: 0;
  width: 810px;
  height: 300px;
  margin: 0 0 0 130px;
  resize: none;
  padding: 11px;
  border: 1px solid #d5d5d5;
}
#service .container .gap .content .right .write-content form ul li label input[type=file] {
  width: 0;
}
#service .container .gap .content .right .write-content form ul li .file-add {
  color: #333;
  font-size: 15px;
  font-weight: 700;
  display: flex;
}
#service .container .gap .content .right .write-content form ul li .file-add span {
  display: flex;
  align-items: center;
  width: 130px;
  height: 40px;
}
#service .container .gap .content .right .write-content form ul li .file-add .img-add {
  position: relative;
}
#service .container .gap .content .right .write-content form ul li .file-add .img-add label {
  margin: 0 6px 0 0;
}
#service .container .gap .content .right .write-content form ul li .file-add .img-add label figure {
  display: block;
  width: 78px;
  height: 78px;
  background: #f8f8f8 url(../../../../../public/img/service/file_img_icon_plus.png) no-repeat 50% 50%;
  border: 1px solid #e5e5e5;
}
#service .container .gap .content .right .write-content form ul li .file-add .img-add label figure img {
  width: 100%;
  height: 100%;
}
#service .container .gap .content .right .write-content form ul li .file-add .img-add span {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 0;
  right: 6px;
  border: 1px solid #e5e5e5;
  background: #fff url(../../../../../public/img/service/file_img_icon_remove.png) no-repeat 50% 50%;
}
#service .container .gap .content .right .write-content form ul li:nth-child(2) {
  height: 300px;
}
#service .container .gap .content .right .write-content form .btn-box {
  width: 100%;
  text-align: center;
}
#service .container .gap .content .right .write-content form .btn-box button {
  width: 200px;
  height: 60px;
  border: 0;
  background: #a5a5a5;
  color: #fff;
  transition: all 0.3s;
}
#service .container .gap .content .right .write-content form .btn-box button:hover {
  background-color: #111;
}
#service .container .gap .content .right .write-content form .btn-box button:nth-child(2) {
  background-color: #111;
  margin: 0 0 0 10px;
}
#service .container .gap .content .right .detail-content {
  width: 100%;
  margin: 16px 0 0 0;
}
#service .container .gap .content .right .detail-content .content-head {
  width: 100%;
}
#service .container .gap .content .right .detail-content .content-head ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 90px;
  border-top: 2px solid #000;
  border-bottom: 1px solid #e5e5e5;
}
#service .container .gap .content .right .detail-content .content-head ul li {
  font-size: 20px;
  color: #000;
  display: flex;
}
#service .container .gap .content .right .detail-content .content-head ul li i {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
#service .container .gap .content .right .detail-content .content-head ul li:nth-child(2) {
  font-size: 15px;
  color: #666;
}
#service .container .gap .content .right .detail-content .content-main {
  min-height: 380px;
}
#service .container .gap .content .right .detail-content .content-main p {
  padding: 40px 20px;
  color: #000;
  font-size: 15px;
  line-height: 1.8;
  white-space: pre-line;
}
#service .container .gap .content .right .detail-content .content-footer {
  border-top: 1px solid #b5b5b5;
  border-bottom: 1px solid #b5b5b5;
}
#service .container .gap .content .right .detail-content .content-footer .row {
  padding: 17px 20px;
}
#service .container .gap .content .right .detail-content .content-footer .row ul {
  display: flex;
  justify-content: space-between;
}
#service .container .gap .content .right .detail-content .content-footer .row ul li {
  font-size: 15px;
  color: #666;
  line-height: 1.3;
}
#service .container .gap .content .right .detail-content .content-footer .row ul li a {
  color: #000;
}
#service .container .gap .content .right .detail-content .content-footer .row ul li:first-child {
  padding: 0 20px;
  position: relative;
}
#service .container .gap .content .right .detail-content .content-footer .row ul li:first-child::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
#service .container .gap .content .right .detail-content .content-footer .row:nth-child(1) {
  border-bottom: 1px solid #e5e5e5;
}
#service .container .gap .content .right .detail-content .content-footer .row1 ul li:first-child::after {
  border-bottom: 5px solid #000;
}
#service .container .gap .content .right .detail-content .content-footer .row2 ul li:first-child::after {
  border-top: 5px solid #000;
}
#service .container .gap .content .right .detail-content .btn-box {
  margin: 50px 0 0 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#service .container .gap .content .right .detail-content .btn-box button {
  width: 160px;
  height: 60px;
  border: 0;
  background: #fff;
  color: #333;
  transition: all 0.3s;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #333;
}
#service .container .gap .content .right .detail-content .btn-box button:hover {
  background-color: #000;
  color: #fff;
}
#service .container .gap .content .right .detail-content .btn-box .left-btn button:nth-child(1) {
  margin-right: 10px;
}
#service .container .gap .content .right .detail-content .btn-box .right-btn button {
  background: #333;
  color: #fff;
}
#service .container .gap .content .right .faq-content .search-box {
  margin: 21px 0 0 0;
  height: 120px;
  border-top: 2px solid #000;
  border-bottom: 1px solid #d5d5d5;
  padding: 40px;
  background: #f8f8f8;
  display: flex;
  align-items: center;
}
#service .container .gap .content .right .faq-content .search-box label {
  color: #000;
  font-size: 15px;
  font-weight: 500;
}
#service .container .gap .content .right .faq-content .search-box label input {
  cursor: auto;
  border: 1px solid #d5d5d5;
  padding: 0 10px;
  margin: 0 0 0 50px;
  width: 672px;
  height: 38px;
}
#service .container .gap .content .right .faq-content .search-box button {
  margin: 0 0 0 5px;
  width: 110px;
  height: 38px;
  background: #000;
  font-size: 13px;
  color: #fff;
  border: 0;
  border-radius: 2px;
}
#service .container .gap .content .right .faq-content .nav-box {
  margin: 40px 0 20px 0;
}
#service .container .gap .content .right .faq-content .nav-box table {
  width: 100%;
  border-collapse: collapse;
}
#service .container .gap .content .right .faq-content .nav-box table tbody tr td {
  width: 16.6666%;
  height: 48px;
  border: 1px solid #d5d5d5;
}
#service .container .gap .content .right .faq-content .nav-box table tbody tr td a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
#service .container .gap .content .right .faq-content .nav-box table tbody tr td a.on, #service .container .gap .content .right .faq-content .nav-box table tbody tr td a:hover {
  background: #000;
  color: #fff;
}
#service .container .gap .content .right .faq-content .list-box h3 {
  font-size: 15px;
  color: #000;
  font-weight: 500;
}
#service .container .gap .content .right .faq-content .list-box ul {
  margin: 16px 0 0 0;
  border-top: 2px solid #000;
}
#service .container .gap .content .right .faq-content .list-box ul li {
  overflow: hidden;
  border-bottom: 1px solid #b5b5b5;
}
#service .container .gap .content .right .faq-content .list-box ul li .list-front {
  cursor: pointer;
  padding: 25px 57px;
  height: 2px;
  height: 70px;
  position: relative;
}
#service .container .gap .content .right .faq-content .list-box ul li .list-front h2 {
  font-size: 15px;
  color: #000;
  font-weight: 500;
}
#service .container .gap .content .right .faq-content .list-box ul li .list-front span {
  display: block;
  width: 26px;
  height: 26px;
  overflow: hidden;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translatey(-50%);
}
#service .container .gap .content .right .faq-content .list-box ul li .list-back {
  background: #f8f8f8;
  color: #333;
  padding: 0 66px;
  height: 0;
  transition: all 0.3s;
  line-height: 1.4;
  position: relative;
}
#service .container .gap .content .right .faq-content .list-box ul li .list-back span {
  display: block;
  width: 26px;
  height: 26px;
  overflow: hidden;
  position: absolute;
  left: 25px;
  top: 22px;
}
#service .container .gap .content .right .faq-content .list-box ul li .list-back span img {
  transform: translateX(-26px);
}
#service .container .gap .content .right .faq-content .list-box ul li.on .list-back {
  padding: 25px 66px;
  height: auto;
}