#section7 {
  width: 100%;
}
#section7 .container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
#section7 .container .gap {
  width: 100%;
  margin: 100px 0 0 0;
}
#section7 .container .gap .title {
  width: 100%;
  text-align: center;
  margin: 0 0 35px 0;
  font-family: "Montserrat";
}
#section7 .container .gap .title h2 {
  font-size: 30px;
  font-weight: 600;
  color: #000;
  position: relative;
}
#section7 .container .gap .title h2::before {
  position: absolute;
  top: 3px;
  left: 46.6%;
  content: "";
  width: 20px;
  height: 21px;
  background: url(../../../../../../public/img/intro/icon_pick_title.png) no-repeat 0 0;
}
#section7 .container .gap .title p {
  position: relative;
  width: 100%;
  margin: 20px 0 35px 0;
  font-size: 16px;
  font-weight: 600;
  color: #666;
}
#section7 .container .gap .title p a {
  position: absolute;
  top: 0;
  right: 351.5px;
  display: inline-block;
  color: #666;
  padding: 0 12px 0 0;
  background: url(../../../../../../public/img/intro/main_btn_section_link.png) no-repeat 100% 50%;
  font-size: 15px;
}
#section7 .container .gap .content {
  width: 100%;
}
#section7 .container .gap .content .slide-container {
  width: 100%;
}
#section7 .container .gap .content .slide-container .slide-view {
  width: 100%;
  overflow: hidden;
}
#section7 .container .gap .content .slide-container .slide-view .slide-wrap {
  width: 810%;
  display: flex;
  margin: 0 0 0 -115%;
  position: relative;
}
#section7 .container .gap .content .slide-container .slide-view .slide-wrap .slide {
  width: 30%;
  padding: 0 20px 0 0;
  border: 0;
}
#section7 .container .gap .content .slide-container .slide-view .slide-wrap .slide > div {
  display: flex;
  border: 1px solid #d5d5d5;
}
#section7 .container .gap .content .slide-container .slide-view .slide-wrap .slide > div:hover {
  border-color: #000;
}
#section7 .container .gap .content .slide-container .slide-view .slide-wrap .slide > div figure {
  width: 270px;
  cursor: pointer;
}
#section7 .container .gap .content .slide-container .slide-view .slide-wrap .slide > div figure a {
  pointer-events: none;
}
#section7 .container .gap .content .slide-container .slide-view .slide-wrap .slide > div figure a img {
  width: 100%;
}
#section7 .container .gap .content .slide-container .slide-view .slide-wrap .slide > div .information-box {
  width: 273.4px;
  padding: 35px;
  position: relative;
}
#section7 .container .gap .content .slide-container .slide-view .slide-wrap .slide > div .information-box a h3 {
  font-size: 22px;
  letter-spacing: -1.4px;
  color: #000;
  font-weight: 600;
  line-height: 28px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin: 0 0 10px 0;
}
#section7 .container .gap .content .slide-container .slide-view .slide-wrap .slide > div .information-box a p {
  font-size: 15px;
  color: #666;
  height: 38px;
  line-height: 19px;
}
#section7 .container .gap .content .slide-container .slide-view .slide-wrap .slide > div .information-box a .price-box {
  margin: 10px 0 0 0;
  color: #ee1c25;
}
#section7 .container .gap .content .slide-container .slide-view .slide-wrap .slide > div .information-box a .price-box .start-price {
  font-size: 18px;
  font-weight: 700;
}
#section7 .container .gap .content .slide-container .slide-view .slide-wrap .slide > div .information-box a .price-box .start-price em {
  font-size: 14px;
  font-weight: 400;
}
#section7 .container .gap .content .slide-container .slide-view .slide-wrap .slide > div .information-box a .price-box .discount-rate {
  font-size: 20px;
  font-weight: 700;
}
#section7 .container .gap .content .slide-container .slide-view .slide-wrap .slide > div .information-box a .price-box .discount-rate em {
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 0 5px;
}
#section7 .container .gap .content .slide-container .slide-view .slide-wrap .slide > div .information-box a .search-result-count {
  position: absolute;
  bottom: 35px;
  left: 35px;
  font-size: 13px;
  color: #000;
}
#section7 .container .gap .content .slide-container .slide-view .slide-wrap .slide > div .information-box a .search-result-count .search-result-result-value {
  color: #ee1c25;
  font-weight: 700;
  vertical-align: baseline;
  font-family: "Montserrat";
  margin: 0 0 0 2px;
}