#section5 {
  width: 100%;
}
#section5 .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
#section5 .container .gap {
  width: 100%;
  margin: 100px 0 0 0;
}
#section5 .container .gap .title {
  width: 100%;
  text-align: center;
  position: relative;
  margin: 0 0 35px 0;
  font-family: "Montserrat";
}
#section5 .container .gap .title h2 {
  font-size: 30px;
  font-weight: 600;
  color: #000;
}
#section5 .container .gap .catecory {
  width: 100%;
  height: 56px;
  margin: 0 0 15px 0;
}
#section5 .container .gap .catecory ul {
  display: flex;
  justify-content: center;
}
#section5 .container .gap .catecory ul li {
  height: 31px;
  padding: 0 0 3px 0;
  margin: 0 18px;
  position: relative;
}
#section5 .container .gap .catecory ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background: #ee1c25;
  transition: all 0.3s;
}
#section5 .container .gap .catecory ul li.on::after {
  left: 0;
  width: 100%;
}
#section5 .container .gap .catecory ul li a {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.8px;
  font-weight: 500;
  color: #000;
}
#section5 .container .gap .content {
  width: 100%;
}
#section5 .container .gap .content ul {
  width: 100%;
  display: none;
  justify-content: space-between;
}
#section5 .container .gap .content ul.on {
  display: flex;
}
#section5 .container .gap .content ul li {
  width: 224px;
  cursor: pointer;
}
#section5 .container .gap .content ul li a {
  margin: 0 20px 0 0;
  pointer-events: none;
}
#section5 .container .gap .content ul li a figure {
  position: relative;
}
#section5 .container .gap .content ul li a figure img {
  width: 100%;
}
#section5 .container .gap .content ul li a .information-box {
  width: 100%;
  padding: 15px 10px 0 10px;
}
#section5 .container .gap .content ul li a .information-box h3 {
  width: 100%;
  margin: 4px 0 0 0;
  font-size: 15px;
  font-weight: 600;
  color: #000;
  line-height: 120%;
}
#section5 .container .gap .content ul li a .information-box p {
  color: #666;
  margin: 8px 0 0 0;
  font-size: 14px;
  height: 38px;
  line-height: 19px;
}
#section5 .container .gap .content ul li a .information-box .price-box {
  margin: 9px 0 0 0;
}
#section5 .container .gap .content ul li a .information-box .price-box .product-price {
  font-size: 19px;
  color: #000;
  font-weight: 700;
}
#section5 .container .gap .content ul li a .information-box .price-box .product-price em {
  font-size: 12px;
  font-weight: 500;
}
#section5 .container .gap .content ul li a .information-box .price-box .cost-price {
  color: #999;
  font-size: 14px;
  vertical-align: bottom;
}
#section5 .container .gap .content ul li a .information-box .price-box .discount-price {
  font-size: 20px;
  margin: 0 0 0 8px;
  color: #ee1c25;
  font-weight: 700;
}
#section5 .container .gap .content ul li a .information-box .price-box .discount-price em {
  font-size: 12px;
  font-weight: 500;
}
#section5 .container .gap .content ul li a .information-box .price-box .discount-rate {
  margin: 0 0 0 2px;
  color: #ee1c25;
  vertical-align: bottom;
  font-size: 14px;
}
#section5 .container .gap .content ul li a .information-box .price-box .discount-rate em {
  vertical-align: top;
}
#section5 .container .gap .content ul li a .information-box .icon_box {
  display: inline-block;
  width: 44px;
  height: 20px;
  margin: 19px 3px 0 0;
  position: relative;
  overflow: hidden;
}
#section5 .container .gap .content ul li a .information-box .icon_box.delivery {
  width: 64px;
}
#section5 .container .gap .content ul li a .information-box .icon_box img {
  position: absolute;
  top: 0;
  right: 0;
}