#section5{
    width: 100%;
    .container{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        .gap{
            width: 100%;
            margin: 100px 0 0 0;
            .title{
                width: 100%;
                text-align: center;
                position: relative;
                margin: 0 0 35px 0;
                font-family: 'Montserrat';
                h2{
                    font-size: 30px;
                    font-weight: 600;
                    color: #000;
                }
            }
            .catecory{
                width: 100%;
                height: 56px;
                margin: 0 0 15px 0;
                ul{
                    display: flex;
                    justify-content: center;
                    li{
                        height: 31px;
                        padding: 0 0 3px 0;
                        margin: 0 18px;
                        position: relative;
                        &::after{
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            width: 0;
                            height: 3px;
                            background: #ee1c25;
                            transition: all 0.3s;
                        }
                        &.on{
                            &::after{
                                left: 0;
                                width: 100%;
                            }
                        }
                        a{
                            font-size: 16px;
                            line-height: 25px;
                            letter-spacing: -0.8px;
                            font-weight: 500;
                            color: #000;
                        }
                    }
                }
            }
            .content{
                width: 100%;
                ul{
                    width: 100%;
                    display: none;
                    justify-content: space-between;
                    &.on{
                        display: flex;
                    }
                    li{
                        width: 224px;
                        cursor: pointer;
                        a{
                            margin: 0 20px 0 0;
                            pointer-events: none;
                            figure{
                                position: relative;
                                img{
                                    width: 100%;
                                }
                            }
                            .information-box{
                                width: 100%;
                                padding: 15px 10px 0 10px;
                                h3{
                                    width: 100%;
                                    margin: 4px 0 0 0;
                                    font-size: 15px;
                                    font-weight: 600;
                                    color: #000;
                                    line-height: 120%;
                                }
                                p{
                                    color: #666;
                                    margin: 8px 0 0 0;
                                    font-size: 14px;
                                    height: 38px;
                                    line-height: 19px;
                                }
                                .price-box{
                                    margin: 9px 0 0 0;
                                    .product-price{
                                        font-size: 19px;
                                        color: #000;
                                        font-weight: 700;
                                        em{
                                            font-size: 12px;
                                            font-weight: 500;
                                        }
                                    }
                                    .cost-price{
                                        color: #999;
                                        font-size: 14px;
                                        vertical-align: bottom;
                                        em{
                                        }
                                    }
                                    .discount-price{
                                        font-size: 20px;
                                        margin: 0 0 0 8px;
                                        color: #ee1c25;
                                        font-weight: 700;
                                        em{
                                            font-size: 12px;
                                            font-weight: 500;
                                        }
                                    }
                                    .discount-rate{
                                        margin: 0 0 0 2px;
                                        color: #ee1c25;
                                        vertical-align: bottom;
                                        font-size: 14px;
                                        em{
                                            vertical-align: top;
                                        }
                                    }
                                }
                                .icon_box{
                                    display: inline-block;
                                    width: 44px;
                                    height: 20px;
                                    margin: 19px 3px 0 0;
                                    position: relative;
                                    overflow: hidden;
                                    &.delivery{
                                        width: 64px;
                                    }
                                    img{
                                        position: absolute;
                                        top: 0;
                                        right: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}