#section6{
    width: 100%;
    .container{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        .gap{
            width: 100%;
            margin: 100px 0 0 0;
            .title{
                width: 100%;
                text-align: center;
                position: relative;
                margin: 0 0 35px 0;
                font-family: 'Montserrat';
                h2{
                    font-size: 30px;
                    font-weight: 600;
                    color: #000;
                }
            }
            .content{
                width: 100%;
                ul{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    li{
                        width: 285px;
                        cursor: pointer;
                        a{
                            pointer-events: none;
                            figure{
                                position: relative;
                                img{
                                    width: 100%;
                                }
                            }
                            .information-box{
                                p{
                                    color: #666;
                                    margin: 20px 0 0 0;
                                    font-size: 14px;
                                    font-weight: 600;
                                    font-family: 'Montserrat';
                                }
                                h3{
                                    pre{
                                        width: 100%;
                                        margin: 4px 0 0 0;
                                        font-size: 18px;
                                        font-weight: 700;
                                        color: #000;
                                        line-height: 28px;
                                        margin: 10px 0 0 0;
                                        font-family: 'Noto Sans KR';
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}