#couponSection2 {
  width: 100%;
  padding: 0 0 150px 0;
}
#couponSection2 .container {
  width: 1200px;
  margin: 0 auto;
}
#couponSection2 .container .gap {
  width: 100%;
}
#couponSection2 .container .gap .title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#couponSection2 .container .gap .title h2 {
  color: #000;
  font-size: 22px;
  font-weight: 600;
}
#couponSection2 .container .gap .title .btn-box button {
  padding: 0 25px;
  height: 44px;
  background: #666;
  color: #fff;
  transition: all 0.3s;
  border: 0;
  font-weight: 500;
}
#couponSection2 .container .gap .title .btn-box button:nth-child(1) {
  margin: 0 10px 0 0;
}
#couponSection2 .container .gap .title .btn-box button:hover {
  background-color: #000;
}
#couponSection2 .container .gap .content {
  width: 100%;
}
#couponSection2 .container .gap .content .row1 {
  display: flex;
  width: 100%;
  margin: 20px 0;
}
#couponSection2 .container .gap .content .row1 a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50px;
  border: 1px solid #d5d5d5;
  border-bottom: 3px solid #000;
  color: #666;
  font-size: 15px;
}
#couponSection2 .container .gap .content .row1 a.on {
  border: 3px solid #000;
  border-bottom: 0;
  color: #000;
  font-weight: 600;
}
#couponSection2 .container .gap .content .row2 {
  width: 100%;
}
#couponSection2 .container .gap .content .row2 ul {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
#couponSection2 .container .gap .content .row2 ul li {
  width: 32.3%;
  margin: 0 0 60px 18px;
}
#couponSection2 .container .gap .content .row2 ul li:nth-child(3n+1) {
  margin-left: 0;
}
#couponSection2 .container .gap .content .row2 ul li .img-box {
  width: 100%;
}
#couponSection2 .container .gap .content .row2 ul li .img-box img {
  width: 100%;
}
#couponSection2 .container .gap .content .row2 ul li .txt-box {
  margin: 24px 0 0 0;
}
#couponSection2 .container .gap .content .row2 ul li .txt-box h3 {
  height: 60px;
  color: #000;
  font-size: 22px;
  font-weight: 600;
}
#couponSection2 .container .gap .content .row2 ul li .txt-box p {
  margin: 5px 0 0 0;
  color: #666;
  font-size: 15px;
}
#couponSection2 .container .gap .content .row3 {
  display: flex;
  margin: 50px 0 0 0;
}
#couponSection2 .container .gap .content .row3 .left {
  width: 764px;
  background: url(../../../../../../public/img/coupon/marketing_giftcard_bg.jpg) no-repeat 50% 50%;
  padding: 45px 40px;
}
#couponSection2 .container .gap .content .row3 .left h2 {
  color: #000;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.3;
}
#couponSection2 .container .gap .content .row3 .left h2 strong {
  position: relative;
  display: block;
  width: 225px;
  color: #ee1c25;
  font-weight: 700;
}
#couponSection2 .container .gap .content .row3 .left h2 strong::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 97px;
  height: 3px;
  background: #ee1c25;
}
#couponSection2 .container .gap .content .row3 .left p {
  margin: 8px 0 0 0;
  font-size: 13px;
  line-height: 1.5;
  color: #666;
}
#couponSection2 .container .gap .content .row3 .left button {
  margin: 36px 10px 0 0;
  padding: 0 12px;
  width: 110px;
  height: 40px;
  border: 0;
  background: #000;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}
#couponSection2 .container .gap .content .row3 .left button:nth-of-type(2) {
  background-color: #666;
}
#couponSection2 .container .gap .content .row3 .left button:nth-of-type(3) {
  background: #fff;
  border: 1px solid #000;
  color: #000;
}
#couponSection2 .container .gap .content .row3 .right {
  margin: 0 0 0 30px;
  width: 376px;
}
#couponSection2 .container .gap .content .row3 .right dl {
  font-family: "Noto Sans";
}
#couponSection2 .container .gap .content .row3 .right dl dt {
  padding: 17px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#couponSection2 .container .gap .content .row3 .right dl dt h3 {
  color: #000;
  font-size: 18px;
  font-weight: 600;
}
#couponSection2 .container .gap .content .row3 .right dl dt span {
  color: #666;
  font-size: 13px;
  padding: 0 10px 0 0;
  position: relative;
  font-weight: 600;
}
#couponSection2 .container .gap .content .row3 .right dl dt span i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}
#couponSection2 .container .gap .content .row3 .right dl dd {
  border-top: 2px solid #000;
  border-bottom: 1px solid #bbb;
  padding: 17px 0;
}
#couponSection2 .container .gap .content .row3 .right dl dd ul {
  display: flex;
  justify-content: space-between;
}
#couponSection2 .container .gap .content .row3 .right dl dd ul li {
  padding: 10px 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 13px;
  color: #666;
  line-height: 1.3;
}
#couponSection2 .container .gap .content .row3 .right dl dd ul li:nth-child(1) {
  width: 293px;
  color: #000;
  font-size: 14px;
  font-weight: 600;
}